/* font-size settings */
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

/* App settings */
.App {
  width: 100%;
  text-align: center;
  display: flex;
}

.App aside {
  flex: 1;
  max-width: 20%;
  color: white;
  border-right: 2px solid rgba(189, 23, 11, 0.1);
  min-height: 85vh;
  background: linear-gradient(
    to right,
    rgba(189, 23, 11, 0.15),
    #0a0403,
    #0a0403,
    #0a0403,
    rgba(189, 23, 11, 0.15)
  );
}

.App main {
  flex: 4;
  min-height: 85vh;
  background: linear-gradient(
    to right,
    rgba(189, 23, 11, 0.15),
    #0a0403,
    #0a0403,
    #0a0403,
    rgba(189, 23, 11, 0.15)
  );
}

.App-link {
  color: rgb(112, 76, 182);
}

/*Header settings */
header {
  min-height: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  background: linear-gradient(to bottom, rgba(189, 23, 11, 1), #0a0403);
  border-bottom: 1px solid grey;
}
@media (max-width: 1025px) {
  header {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  header nav {
    display: inline-block;
    justify-content: space-around;
  }
}

header h1 {
  margin: 0;
  padding: 1vw;
  text-shadow: 2px 2px 2px black;
  flex: 2;
}

header nav {
  flex: 2;
  display: flex;
}

header nav a:link {
  padding: 2vw;
  margin: 0.5vw;
  text-shadow: 1px 1px 1px black;
  color: white;
  text-decoration: none;
}

header nav a:visited {
  padding: 2vw;
  margin: 0.5vw;
  text-shadow: 1px 1px 1px black;
  color: white;
  text-decoration: none;
}

header nav a:hover {
  background: linear-gradient(to bottom, rgba(189, 23, 11, 0.4), #0a0403);
}

header nav a:active {
  background: linear-gradient(to bottom, rgba(189, 23, 11, 0.8), #0a0403);
}

/* Cars component styling */

.carsContainer {
  color: white;
  text-shadow: 1px 1px 1px red;
  width: 100%;
  margin-bottom: 10vh;
}

.allCarsContainer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.allCarsListItem {
  flex: 1;
  min-width: 20%;
  margin: 1vw;
  padding: 1vw;
  background: linear-gradient(
      to bottom,
      rgba(233, 211, 164, 0.2),
      black,
      rgba(233, 211, 164, 0.2)
    ),
    linear-gradient(
      to right,
      rgba(233, 211, 164, 0.2),
      black,
      rgba(233, 211, 164, 0.2)
    );
  border-radius: 5vw;
}

.allCarsListItem a:link {
  padding: 0.7vw;
  margin: 1vw;
  text-shadow: 1px 1px 1px black;
  color: white;
  text-decoration: none;
  background-color: rgba(162, 189, 11, 0.5);
  border-radius: 5vw;
}

.allCarsListItem a:hover {
  box-shadow: inset 2px 2px 2px white, inset -2px -2px 2px black;
}

.allCarsListItem a:active {
  box-shadow: inset 2px 2px 2px black, inset -2px -2px 2px white;
}
.allCarsListItem a:visited {
  color: white;
}

@media (max-width: 425px) {
  .allCarsContainer {
    display: block;
  }
}

@media (min-width: 426px) {
  .allCarsContainer {
    display: flex;
    flex-flow: row wrap;
  }
  .allCarsListItem {
    flex: 1;
    min-width: 40%;
  }
}

@media (min-width: 1025px) {
  .allCarsListItem {
    min-width: 20%;
  }
}

.filterButtons {
  display: flex;
  flex-flow: row wrap;
}

.filterBtn {
  flex: 1;
  max-width: 20%;
  padding: 1vw;
  background: linear-gradient(
    to bottom,
    #0a0403,
    rgba(189, 23, 11, 0.4),
    #0a0403
  );
}

.filterBtn:hover {
  background: linear-gradient(
    to bottom,
    #0a0403,
    rgba(189, 23, 11, 0.6),
    #0a0403
  );
}

.filterBtn:active {
  background: linear-gradient(
    to bottom,
    #0a0403,
    rgba(189, 23, 11, 0.3),
    #0a0403
  );
}

/* SingleCar component styling */
.SingleCar {
  color: white;
  text-shadow: 1px 1px 1px red;
  width: 60%;
  margin-left: 20%;
}

.SingleCar a:link {
  padding: 0.7vw;
  margin: 1vw;
  text-shadow: 1px 1px 1px black;
  color: white;
  text-decoration: none;
  background-color: rgba(162, 189, 11, 0.5);
  border-radius: 5vw;
}

.SingleCar a:hover {
  box-shadow: inset 2px 2px 2px white, inset -2px -2px 2px black;
}

.SingleCar a:active {
  box-shadow: inset 2px 2px 2px black, inset -2px -2px 2px white;
}
.SingleCar a:visited {
  color: white;
}

/* AddCar component styling */

.addCarContainer {
  color: white;
  text-shadow: 1px 1px 1px red;
}

/* Contact component styling */

.contactContainer {
  color: white;
  text-shadow: 1px 1px 1px red;
}

/* Info component styling */

.infoContainer {
  color: white;
  text-shadow: 1px 1px 1px red;
}

.infoContainer p {
  padding: 5px;
}
